<div class="header">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-12 col-md-4">
        <div class="sort">
          <mat-form-field class="mr-2">
            <mat-label>Türler</mat-label>
            <mat-select [formControl]="toppings" multiple>
              <mat-option *ngFor="let topping of typeList" [value]="topping">{{topping}}</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field>
            <mat-label>Sırala</mat-label>
            <mat-select>
              <mat-option *ngFor="let food of foods" [value]="food.value">
                {{food.viewValue}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      <div class="col-12 col-md-4 text-center">
        <div class="title">
          <h1>Awesome Todo</h1>
        </div>
      </div>
      <div class="col-12 col-md-4 text-right">
        <div class="new-button">
          <button mat-raised-button color="primary">YENİ KAYIT</button>
        </div>
      </div>
    </div>
  </div>
</div>
<a routerLink="listMovie">List</a>
