<div class="header py-3">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-12 col-md-4" *ngIf="currentPage == 'list'">
        <div class="sort">
          <button mat-raised-button color="primary" class="mr-2" [matMenuTriggerFor]="menu1">Türler</button>
          <mat-menu #menu1="matMenu" class="px-3 py-2">
            <mat-radio-group name="sortType" aria-label="Select an option" aria-labelledby="example-radio-group-label"
              class="example-radio-group">
              <mat-radio-button color="primary" value="all">Tümü</mat-radio-button>
              <mat-radio-button color="primary" value="films">Filmler</mat-radio-button>
              <mat-radio-button color="primary" value="series">Diziler</mat-radio-button>
            </mat-radio-group>
          </mat-menu>

          <button mat-raised-button color="primary" class="mr-2" [matMenuTriggerFor]="menu2">Sırala</button>
          <mat-menu #menu2="matMenu">
              <button mat-menu-item>Puana Göre (Azalan)</button>
              <button mat-menu-item>Puana Göre (Artan)</button>
          </mat-menu>

        </div>
      </div>
      <div class="col-12 col-md-4" *ngIf="currentPage == 'add'">
        <div class="back-button">
          <button mat-raised-button color="primary" routerLink="listMovie"><mat-icon>keyboard_arrow_left</mat-icon>Listeye Dön</button>
        </div>
      </div>
      <div class="col-12 col-md-4 text-center">
        <div class="title">
          <h1>Awesome Todo {{deneme}}</h1>
        </div>
      </div>
      <div class="col-12 col-md-4 text-right">
        <div class="new-button">
          <button mat-raised-button color="primary" routerLink="addMovie"><mat-icon>add</mat-icon>YENİ KAYIT</button>
        </div>
      </div>
    </div>
  </div>
</div>
