
.movie-row {
  .delete-icon {
    display: none;
    vertical-align: middle;
    cursor: pointer;
  }
  :hover {
    .delete-icon {
      display: inline-block;
    } 
  }
}

.list-empty {
  .mat-button-wrapper {
    padding: 0;
    .mat-icon {
      font-size: 35px;
      width: auto;
      height: auto;
    }
  }
}