<div class="list-page py-4">
  <div class="container">
    <div class="row" *ngIf="(movieList$ | async)?.length else empty">
      <div class="col-12">
        <table mat-table [dataSource]="movieList$ | async" class="mat-elevation-z8 movie-list">
          <ng-container matColumnDef="name">
            <td mat-cell *matCellDef="let movie"> {{movie.movieName}} <mat-icon class="delete-icon" id={{movie.id}} (click)="deleteMovie($event)">delete</mat-icon></td>
          </ng-container>
          <ng-container matColumnDef="rate">
            <td mat-cell *matCellDef="let movie"><mat-icon class="star-icon">star</mat-icon> {{movie.movieRate}} </td>
          </ng-container>
          <ng-container matColumnDef="rateChange">
            <td mat-cell *matCellDef="let movie">
              <div class="d-flex flex-column align-items-center float-right">
                <mat-icon class="rate-icon up">arrow_drop_up</mat-icon>
                <mat-icon class="rate-icon down">arrow_drop_down</mat-icon>
              </div>
            </td>
          </ng-container>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;" class="movie-row"></tr>
        </table>
      </div>
    </div>
    <ng-template #empty>
      <div class="list-empty text-center">
        <div class="mb-3 mt-5">
          <button mat-fab color="primary" routerLink="addMovie">
            <mat-icon>add</mat-icon>
          </button>
        </div>
        <span>İlk kaydınızı oluşturun</span>
      </div>
    </ng-template>
  </div>
</div>



