<div class="theme-settings d-flex{{ settings ? ' open' : null }}">
  <div class="theme-settings-head d-flex flex-column justify-content-center align-items-center" (click)="toggleSettings()">
    <mat-icon>settings</mat-icon>
  </div>
  <div class="theme-settings-content text-center">
    <div class="py-2">Tema Rengi Seçiniz:</div>
    <div class="mb-2">
        <button
          *ngFor="let color of colorList; let i = index"
          mat-fab
          color={{color}}
          class="mx-1"
          (click)="changeThemeColor($event, color)"
        >
          <mat-icon *ngIf="color == currentColor">check</mat-icon>
        </button>
    </div>
  </div>
</div>
